@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


body{
    background-color: rgb(255, 185, 56);
    background-size: auto;
    padding-top: 20px;
    margin: 50px;
}



.box{
    align-content: center;
    background-color: rgb(255, 214, 80);
    width: auto;
    height: auto;
    border: 10px solid yellow;
    padding: 20px;
    margin: auto;
}



