<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election 2020</title>
</head>
<body>
    <div class="voter_id">
        <h3>Welcome to 2020 Elections!</h3>
        <h3>Please select a candidate</h3>
        <form action="/vote" method="POST">
            <input type="text" name="candidate_id">
            <button type="submit" value="vote">Vote</button>
        </form>
    </div>
</body>
</html>